name: Deploy to Droplet

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker system prune -f
            cd /root/levar-app
            git pull origin main
            #docker compose -f docker-compose.yml down app
            docker compose -f docker-compose.yml build --no-cache app
            docker compose -f docker-compose.yml up -d app
            docker exec laravel_app sh -c "npm run build"
            docker exec laravel_app sh -c "chown -R www-data:www-data /var/www/html/*"
